build/
out/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
compile_commands.json
CMakeUserPresets.json
Testing/
.cache/
vcpkg_installed/
.vs/
.idea/
.covdbg/
.env
.mitmproxy/
__pycache__/
.venv/
site/
